<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Caminhos Terapêuticos{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/static/Psych-help-logo.png" alt="Logo" style="height: 50px;">
            Caminhos Terapêuticos
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/CBT">TCC</a></li>
                <li class="nav-item"><a class="nav-link" href="/DBT">DBT</a></li>
                <li class="nav-item"><a class="nav-link" href="/ACT">ACT</a></li>
                <li class="nav-item"><a class="nav-link" href="/Psychodynamic">Psicodinâmica</a></li>
                <li class="nav-item"><a class="nav-link" href="/ABA">ABA</a></li>
                <li class="nav-item"><a class="nav-link" href="/Systemic">Sistêmica</a></li>
                <li class="nav-item"><a class="nav-link" href="/Humanistic">Humanista</a></li>
                <li class="nav-item"><a class="nav-link" href="/MBCT">MBCT</a></li>
                <li class="nav-item"><a class="nav-link" href="/survey">Pesquisa</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
