{% extends "base.html" %}

{% block title %}Terapia Cognitivo-Comportamental (TCC){% endblock %}

{% block content %}
<h1 class="mt-5">Terapia Cognitivo-Comportamental (TCC)</h1>
<br>
<p><strong>Introdução:</strong> Terapia Cognitivo-Comportamental (TCC) é uma abordagem terapêutica amplamente utilizada para tratar uma variedade de problemas de saúde mental.</p>
<p><strong>Definição:</strong> A TCC é uma forma de psicoterapia que foca na modificação de padrões de pensamento e comportamento disfuncionais para melhorar a saúde mental. Seus princípios fundamentais incluem a identificação e reestruturação de pensamentos negativos e a adoção de comportamentos mais adaptativos.</p>
<p><strong>Como Funciona a Terapia:</strong> Na TCC, o terapeuta trabalha junto com o cliente para identificar padrões de pensamento e comportamento que estão causando sofrimento. Técnicas comuns incluem a reestruturação cognitiva, que ajuda o cliente a desafiar e modificar pensamentos distorcidos, e a exposição gradual, que auxilia na redução de medos e ansiedades.</p>
<p><strong>Como funciona uma sessão típica:</strong> Uma sessão típica de TCC começa com uma revisão dos eventos recentes e dos sentimentos do cliente. Em seguida, o terapeuta e o cliente trabalham juntos para identificar pensamentos disfuncionais e desenvolver estratégias para modificá-los. Sessões geralmente incluem tarefas de casa, como registrar pensamentos e praticar novas habilidades.</p>
<p><strong>Duração:</strong> A duração da TCC varia, mas geralmente dura entre 12 a 20 sessões semanais, dependendo da complexidade dos problemas do cliente.</p>
<p><strong>Para Que é Indicado:</strong> A TCC é eficaz no tratamento de depressão, ansiedade, transtornos alimentares, TOC, PTSD, e muitas outras condições psicológicas.</p>
<p><strong>Para Que Não é Indicado:</strong> Pode não ser indicada para indivíduos com transtornos psicóticos graves sem acompanhamento médico, ou para aqueles que não estão dispostos a se engajar ativamente no processo terapêutico.</p>
<p><strong>Respaldos Científicos:</strong> A TCC é uma das abordagens mais pesquisadas e cientificamente apoiadas. Estudos mostram sua eficácia em uma ampla gama de transtornos mentais.</p>
<p><strong>Principais Fundadores/Contribuintes:</strong> Aaron T. Beck é amplamente considerado o fundador da TCC, com contribuições significativas também de Albert Ellis, criador da Terapia Racional Emotiva Comportamental (TRE).</p>
<p><strong>Comparação com Outras Abordagens:</strong> Comparada com abordagens psicodinâmicas, a TCC é mais focada no presente e nas soluções práticas. Diferente da terapia humanista, que enfatiza a autorrealização, a TCC foca na modificação de pensamentos e comportamentos específicos.</p>
<a href="/" class="btn btn-primary mt-3">Voltar</a>
{% endblock %}
