{% extends "base.html" %}

{% block title %}Terapia Cognitivo-Comportamental (TCC){% endblock %}

{% block content %}
<h1 class="mt-5">Terapia Cognitivo-Comportamental (TCC)</h1>
<p><strong>Introdução:</strong> Introdução ao nome da abordagem terapêutica.</p>
<p><strong>Definição:</strong> Uma explicação sucinta e clara do que a abordagem terapêutica significa e quais são seus princípios fundamentais.</p>
<p><strong>Como Funciona a Terapia:</strong> Uma descrição do processo terapêutico dentro dessa abordagem, incluindo técnicas comuns utilizadas e a dinâmica típica entre terapeuta e cliente.</p>
<p><strong>Como funciona uma sessão típica:</strong> Uma descrição de como funciona uma sessão típica naquela abordagem.</p>
<p><strong>Duração:</strong> Uma estimativa geral de quanto tempo uma terapia utilizando essa abordagem pode durar.</p>
<p><strong>Para Que é Indicado:</strong> Uma lista dos tipos de problemas ou questões para os quais essa abordagem terapêutica é geralmente recomendada.</p>
<p><strong>Para Que Não é Indicado:</strong> Uma explicação de situações ou condições em que essa abordagem terapêutica pode não ser a mais adequada.</p>
<p><strong>Respaldos Científicos:</strong> Uma revisão sucinta da pesquisa científica que apoia a eficácia dessa abordagem terapêutica.</p>
<p><strong>Principais Fundadores/Contribuintes:</strong> Uma breve biografia dos principais teóricos ou praticantes que desenvolveram ou influenciaram significativamente essa abordagem terapêutica.</p>
<p><strong>Comparação com Outras Abordagens:</strong> Uma breve comparação entre essa abordagem e outras abordagens terapêuticas populares.</p>
<p><strong>Testemunhos/Experiências:</strong> Depoimentos de pessoas que passaram por essa forma de terapia.</p>
<a href="/" class="btn btn-primary mt-3">Voltar</a>
{% endblock %}
