{% extends "base.html" %}

{% block title %}Terapia Humanista{% endblock %}

{% block content %}
<h1 class="mt-5">Terapia Humanista</h1>
<br>
<p><strong>Introdução:</strong> A Terapia Humanista é uma abordagem que enfatiza o potencial humano e a autorrealização.</p>
<p><strong>Definição:</strong> A Terapia Humanista foca no desenvolvimento pessoal e no crescimento individual, promovendo a autorrealização e a realização do potencial humano. Seus princípios fundamentais incluem a empatia, a autenticidade e a aceitação incondicional.</p>
<p><strong>Como Funciona a Terapia:</strong> Na terapia humanista, o terapeuta cria um ambiente seguro e não julgador, permitindo que o cliente explore suas emoções e pensamentos. Técnicas comuns incluem a escuta ativa, a reflexão e a auto-exploração.</p>
<p><strong>Como funciona uma sessão típica:</strong> Uma sessão típica de terapia humanista pode incluir discussões abertas sobre experiências pessoais, sentimentos e aspirações. O terapeuta oferece suporte empático e encoraja a auto-expressão e o crescimento pessoal.</p>
<p><strong>Duração:</strong> A duração da terapia humanista varia, mas geralmente dura de 10 a 20 sessões, dependendo dos objetivos do cliente.</p>
<p><strong>Para Que é Indicado:</strong> A terapia humanista é eficaz para o desenvolvimento pessoal, a melhora da autoestima, a resolução de conflitos internos e o tratamento de depressão e ansiedade.</p>
<p><strong>Para Que Não é Indicado:</strong> Pode não ser a melhor escolha para problemas graves de saúde mental que requerem intervenções estruturadas ou médicas, ou para indivíduos que preferem abordagens mais diretivas.</p>
<p><strong>Respaldos Científicos:</strong> A terapia humanista tem um corpo de evidências que apoia sua eficácia em promover o bem-estar e o crescimento pessoal, embora seja menos pesquisada comparada a abordagens como a TCC.</p>
<p><strong>Principais Fundadores/Contribuintes:</strong> Carl Rogers é um dos principais fundadores da terapia humanista, com contribuições significativas de Abraham Maslow e Rollo May.</p>
<p><strong>Comparação com Outras Abordagens:</strong> Comparada com a TCC, a terapia humanista foca mais no crescimento pessoal e na auto-exploração. Diferente da terapia psicodinâmica, é mais orientada para o presente e a auto-realização.</p>
<a href="/" class="btn btn-primary mt-3">Voltar</a>
{% endblock %}
