{% extends "base.html" %}

{% block title %}Terapia Sistêmica{% endblock %}

{% block content %}
<h1 class="mt-5">Terapia Sistêmica</h1>
<br>
<p><strong>Introdução:</strong> A Terapia Sistêmica é uma abordagem que foca nas interações e relações dentro de sistemas, como famílias e casais.</p>
<p><strong>Definição:</strong> A Terapia Sistêmica explora padrões de interação e comunicação dentro de sistemas sociais. Seus princípios fundamentais incluem a interdependência, a comunicação e a dinâmica de poder dentro dos sistemas.</p>
<p><strong>Como Funciona a Terapia:</strong> Na terapia sistêmica, o terapeuta trabalha com indivíduos, casais ou famílias para entender e modificar padrões disfuncionais de interação. Técnicas comuns incluem a reestruturação de sistemas, a mediação e a promoção de mudanças na comunicação.</p>
<p><strong>Como funciona uma sessão típica:</strong> Uma sessão típica de terapia sistêmica pode incluir discussões sobre problemas de relacionamento, exercícios de comunicação e intervenções para alterar padrões de interação. As sessões são interativas e focadas em mudanças práticas.</p>
<p><strong>Duração:</strong> A duração da terapia sistêmica varia, mas geralmente dura de 10 a 20 sessões, dependendo da complexidade das questões familiares ou relacionais.</p>
<p><strong>Para Que é Indicado:</strong> A terapia sistêmica é eficaz para problemas familiares, conflitos conjugais, questões parentais e transtornos alimentares.</p>
<p><strong>Para Que Não é Indicado:</strong> Pode não ser a melhor escolha para problemas individuais que não envolvem interações sistêmicas, ou para indivíduos que não estão dispostos a trabalhar em um contexto de grupo.</p>
<p><strong>Respaldos Científicos:</strong> A terapia sistêmica tem um corpo de evidências que apoia sua eficácia em melhorar a dinâmica familiar e os problemas relacionais, com muitos estudos mostrando resultados positivos.</p>
<p><strong>Principais Fundadores/Contribuintes:</strong> Murray Bowen é um dos principais fundadores da terapia sistêmica, com contribuições significativas de Salvador Minuchin e Virginia Satir.</p>
<p><strong>Comparação com Outras Abordagens:</strong> Comparada com a TCC, a terapia sistêmica foca mais nas interações entre indivíduos dentro de um sistema. Diferente da terapia humanista, é mais orientada para a resolução de conflitos e mudanças nas relações.</p>
<a href="/" class="btn btn-primary mt-3">Voltar</a>
{% endblock %}
